@* Цей рядок "каже" сторінці, що ми очікуємо отримати СПИСОК (IEnumerable)
   об'єктів типу CaseRecord з контролера.
*@
@model IEnumerable<disease_outbreaks_detector.Models.CaseRecord>

@{
    ViewData["Title"] = "List of Cases";
}

<h2>Список випадків (Центральна таблиця)</h2>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recovered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* "Пробігаємось" по кожному елементу (item) у списку (Model) *@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cases)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recovered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @* Створюємо посилання, яке веде на метод "Details"
                і передає йому "id" поточного елемента (asp-route-id="@item.Id")
                *@
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                </td>
            </tr>
        }
    </tbody>
</table>